.tools_service {
    background-color: #fdfdfd;
    padding: 80px 0;
}


.section_tagline {
    color: black;
    font-size: 18px;
    letter-spacing: 400;
    font-family: var(--secondary-fonts);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section_tagline_icon {
    color: var(--secondary-color);
    font-size: 20px;
}

.section_title {
    color: black;
    font-size: 35px;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
}

.section_title_color {
    color: var(--primary-color);
}
